@{
    ViewData["Title"] = "Админ Панел";
}

<h2>Админ Панел</h2>
<ul class="list-group">
    <li class="list-group-item"><a asp-action="Users">📌 Управление на потребители</a></li>
    <li class="list-group-item"><a asp-action="Movies">🎬 Управление на филми</a></li>
    <li class="list-group-item"><a asp-action="Books">📚 Управление на книги</a></li>
    <li class="list-group-item"><a asp-action="Reviews">📝 Управление на рецензии</a></li>
</ul>
